{% extends "layout.html" %}

{% block header_title %}Services{% endblock %}

{% block body %}
  {% if not services %}
    <p>No services Available!</p>
  {% else %}
    <div class="box">
      <div class="header">
        <h3 class="title">Services</h3>
        <div class="meta">
          <a class="button button-primary" href="{{ url_for('services.new') }}">+ Create</a>
        </div>
      </div>
      <div class="content">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Replicas</th>
            </tr>
          </thead>
          <tbody>
            {% for service in services %}
            <tr>
              <td>{{ service['Name'] }}</td>
              <td>{{ service['Image'] }}</td>
              <td>{{ service['Replicas'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endif %}
{% endblock %}
