<!doctype html>
<!DOCTYPE html>
<html>
<head>
  <title>Capitan</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/style.css') }}">
</head>
<body>
  <div class="page">
    <div class="metanav">
    {% if not session.logged_in %}
      <a href="{{ url_for('capitan.login') }}">Log in</a>
    {% else %}
      <a href="{{ url_for('capitan.status') }}">Status</a>
      <a href="{{ url_for('capitan.containers') }}">Containers</a>
      <a href="{{ url_for('capitan.add_worker') }}">Add Worker</a>
      <a href="{{ url_for('capitan.nodes') }}">Nodes</a>
      <a href="{{ url_for('capitan.services') }}">Services</a>
      <a href="{{ url_for('capitan.logout') }}">Log out</a>
    {% endif %}
    </div>

    {% block body %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='./js/main.js') }}"></script>
</body>
</html>
